<div id="top" class="header">
  <div class="vert-text">
    <img class="img-rounded" alt="NSEGロゴ" src="{{ site.assets }}/img/logo.png"/>
    <h1>NSEG 長野のIT勉強会</h1>
    <h2>Nagano Software Engineer Group</h2>
    <ul class="list-inline img-hilite">
      <li><a href="http://github.com/nseg-jp" target="_blank"><img src="{{ site.assets }}/img/social/github.png" alt="GitHub" /></a></li>
      <li><a href="http://twitter.com/hashtag/nseg" target="_blank"><img src="{{ site.assets }}/img/social/twitter.png" alt="Twitter" /></a></li>
      <li><a href="http://www.facebook.com/groups/125694664166084" target="_blank"><img src="{{ site.assets }}/img/social/fb.png" alt="Facebook" /></a></li>
      <li><a href="http://www.slideshare.net/tag/nseg" target="_blank"><img src="{{ site.assets }}/img/social/slideshare.png" alt="SlideShare" /></a></li>
      <li><a href="http://www.flickr.com/groups/nseg" target="_blank"><img src="{{ site.assets }}/img/social/flickr.png" alt="Flickr" /></a></li>
      <li><a href="http://mixi.jp/view_community.pl?id=5261144" target="_blank"><img src="{{ site.assets }}/img/social/mixi.png" alt="mixi" /></a></li>
      <li><a href="http://groups.google.com/forum/#!forum/n_seg" target="_blank"><img src="{{ site.assets }}/img/social/google.png" alt="Google Groups" /></a></li>
      <li><a href="http://www.ustream.tv/channel/nseg" target="_blank"><img src="{{ site.assets }}/img/social/ust.png" alt="USTREAM" /></a></li>
    </ul>	
    <br />
    <a href="http://github.com/nseg-jp/w/wiki" target="_blank" class="btn btn-top">Goto Wiki</a>
    <a href="#about" class="btn btn-top">Learn More</a>
  </div>
</div>
