<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-inverse fixed-top navbar-new" role="navigation">
    <a href="#" class="navbar-brand">NSEG</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mobilemenu" aria-controls="mobilemenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobilemenu">
      <ul class="navbar-nav navbar-right text-center">
        <li class="nav-item active"><a class="nav-link" href="#top"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about"><i class="service-icon fa fa-info"></i>&nbsp;NSEGとは</a></li>
        <li class="nav-item"><a class="nav-link" href="#howto"><i class="service-icon fa fa-user"></i>&nbsp;参加方法</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/nseg-jp/w/wiki"><i class="service-icon fa fa-laptop"></i>&nbsp;定期勉強会</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/nseg-jp/w/wiki"><i class="service-icon fa fa-legal"></i>&nbsp;公式プロジェクト</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/nseg-jp/w/wiki/FAQ" target="_blank"><i class="service-icon fa fa-question"></i>&nbsp;FAQ</a></li>
      </ul>
    </div>
  </nav>
</div>
