<div id="nav">
  <nav class="navbar navbar-new" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobilemenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">NSEG</a>
      </div>
      <div class="collapse navbar-collapse" id="mobilemenu">
        <ul class="nav navbar-nav navbar-right text-center">
          <li><a href="#top"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
          <li><a href="#about"><i class="service-icon fa fa-info"></i>&nbsp;NSEGとは</a></li>
          <li><a href="#howto"><i class="service-icon fa fa-user"></i>&nbsp;参加方法</a></li>
          <li><a href="#regular"><i class="service-icon fa fa-laptop"></i>&nbsp;定期勉強会</a></li>
          <li><a href="#projects"><i class="service-icon fa fa-legal"></i>&nbsp;公式プロジェクト</a></li>
          <li><a href="http://github.com/nseg-jp/w/wiki/FAQ" target="_blank"><i class="service-icon fa fa-question"></i>&nbsp;FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
