/* Global Styles */

@charset "utf-8";

html,
body {
  height: 100%;
  width: 100%;
}

.img-hilite a:hover img{
  opacity: 0.50;
  filter: alpha(opacity=50);
  -ms-filter: "alpha( opacity=50 )";
  -moz-opacity: 0.50;
}

/*Vegas CSS for Slideshow*/
.vegas-loading {
  border-radius: 10px;
  background: #000;
  background: rgba(0,0,0,0.7);
  background: url(../img/loading.gif) no-repeat center center;
  height: 32px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 32px; 
  z-index: 0;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #f1f1f1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#60000000,EndColorStr=#60000000)";
  background: rgba(0, 0, 0, 0.48);
}
.vert-text:not(:target) {
  -ms-filter: "none";
}


.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Navbar */
#nav {
  margin-bottom: -20px;
}
.navbar {
  border-radius: 0px !important;
}
.navbar-new {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  -ms-filter: "alpha( opacity=60 )";
}
.navbar-new .navbar-brand {
  color: #f1f1f1;
}
.navbar-new .navbar-text {
  color: #f1f1f1;
}
.navbar-new .navbar-nav > li > a {
  color: #f1f1f1;
}
.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  -ms-filter: "alpha( opacity=80 )";
}
.navbar-new .navbar-toggle {
  border-color: #dddddd;
}
.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-new .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-new .navbar-collapse,
.navbar-new .navbar-form {
  border-color: #e6e6e6;
}
.navbar-new .navbar-nav > .dropdown > a:hover .caret,
.navbar-new .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-new .navbar-nav > .open > a,
.navbar-new .navbar-nav > .open > a:hover,
.navbar-new .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
.navbar-new .navbar-nav > .open > a .caret,
.navbar-new .navbar-nav > .open > a:hover .caret,
.navbar-new .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-new .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar-new .navbar-nav li.active > a {
  background-color: #777777;
}
@media screen and (max-width: 767px) {
  .navbar-new .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-new .navbar-link {
  color: #777777;
}
.navbar-new .navbar-link:hover {
  color: #333333;
}
/*Navbar */


.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.btn-top {
  color: #f1f1f1;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.57);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#72000000,EndColorStr=#72000000)";
  border-color: #cccccc;
}
.btn-top:not(:target) {
  -ms-filter: "none";
}

.btn-top:hover,
.btn-top:focus,
.btn-top:active,
.btn-top.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* main contents */
.content {
  font-size: 16px;

  background: none repeat scroll 0 0 #F1F1F1;
  border-bottom: 1px solid #D1D1D1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)";
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.content h2 {
  padding-top: 70px;
  text-align: center;
}

.content p {
  font-size: 12pt;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 20px;
}

#maincontent .odd {
}
#maincontent .even {
  background: none repeat scroll 0 0 #4D4D4D;
  color: #eeeeee;
}

/* Footer */
footer {
  background: #000;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.79);
  filter: alpha(opacity=79);
  -ms-filter: "alpha( opacity=79 )";
  color: #f1f1f1;
  padding: 20px 0;
  border-top: 1px solid #D1D1D1 !important;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* scroll to top button */
#scroll-to-top {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  font-size: 5rem;
  text-decoration: none;
  opacity: 0.60;
  filter: alpha(opacity=60);
  border-radius: 0.4em;
  transition: all 0.3s 0.2s;
}
#scroll-to-top:hover {
  opacity: 0.80;
  filter: alpha(opacity=80);
}

/* responsive */
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .navbar-brand: {margin-left:20px;}
  .navbar-toggle: {margin-right:25px;}
}
