<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="{{ site.assets }}/css/bootstrap.min.css" rel="stylesheet" />

    <link href="{{ site.assets }}/css/nseg.css" rel="stylesheet" />
    <link href="{{ site.assets }}/css/syntax.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.assets }}/img/nseg_favicon_amano.png" type="image/png" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://nseg.jp/assets/img/logo.png" />
    <meta name="twitter:site" content="@nseg_jp" />
    <meta name="google-site-verification" content="FhBOKA5NE9EJSm55vZqQV9qXe6E80uDvXHFw1EIH5dw" />
    <meta name="google-site-verification" content="MJ9HtgMEJjqRRbYDjjwpyv6_EEhPZ4A9eRloKSRBToE" />
  </head>

  <body id="top">
    <a id="scroll-to-top" href="#top"><i class="fa fa-arrow-circle-up"></i></a>
{% include analytics.html %}
{% include mainvisual.html %}
{% include navi.html %}

    <div class="content">
      <div id="maincontent">
{{ content }}
      </div>
    </div>

{% include footer.html %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ site.assets }}/js/background.js"></script>
    <script src="{{ site.assets }}/js/externallink.js"></script>
    <script src="{{ site.assets }}/js/jquery-scrolltofixed-min.js"></script>
    <script src="{{ site.assets }}/js/jquery.vegas.js"></script>
    <script src="{{ site.assets }}/js/smoothscroll.js"></script>
    <script src="{{ site.assets }}/js/navbar.js"></script>
    <script src="js/flickr-slideshow.js"></script>
  </body>
</html>
